<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="mt-5 p-5">Todos os Usuários</h1>

    <table class="table table-striped mt-5 p-5">
      
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome do Usuário</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">
                        <form method="GET" action="{% url 'formulario_usuario'%}">
                            <button type="submit" class="">
                                Novo Usuário
                            </button>
                    </th>
                </tr>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.nome}}</td>
                        <td>{{usuario.email}}</td>
                        <td style="width: 85px">
                            <form method="POST" action="{% url 'excluir_usuario' usuario.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="" onclick="return confirm('Deseja realmente excluir esse usuário?')">
                                    Excluir
                                </button>
                            </form>
                        </td>
                        <td style="width: 85px">
                            <form method="GET" action="{% url 'exibir_usuario' usuario.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="_method" value="EDIT">
                                <button type="submit" class="">
                                    Editar
                                </button>
                            </form>
                        </td>
                        
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Nenhum usuário cadastrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
    </table>
    
</body>
</html>

    